:root {
	--desaturated-red: hsl(0, 36%, 70%);
	--soft-red: hsl(0, 93%, 68%);

	--dark-grayish-red: hsl(0, 6%, 24%);

	--primary-gradient: 135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%);
	--secondary-gradient: 135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%);

	--default-transition: 0.3s ease-in-out;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 14px;
	font-family: 'Josefin Sans', sans-serif;
	color: var(--desaturated-red);
}

.hero {
	display: grid;
	grid-auto-flow: column;
	background-image: linear-gradient(var(--primary-gradient));
}

.hero__primary-content {
	margin: 0 auto;
	padding-bottom: 6rem;
	max-width: 450px;
	text-align: center;
}

.hero__logo-container {
	margin: 0 auto 2rem;
	max-width: 375px;
}

.hero__logo {
	display: block;
	margin-left: 2rem;
	padding-top: 2rem;
	width: 8rem;
}

.hero__image {
	display: block;
}

.image--mobile {
	margin: 0 auto 5rem;
	width: 100%;
	max-width: 375px;
}

.image--desktop {
	display: none;
	width: 100%;
	max-width: 600px;
}

.hero__title {
	margin: 0 0 1.5rem;
	font-size: 3em;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	line-height: 1.075;
	color: var(--dark-grayish-red);
}

.hero__description {
	margin: 0 2rem 2.5rem;
	line-height: 1.6;
}

.form {
	margin: 0 2rem;
	position: relative;
	height: 3.5rem;
}

.form__input {
	padding: 0 5.5rem 0 1.5rem;
	border: var(--desaturated-red) 1px solid;
	border-radius: 1.75rem;
	width: 100%;
	height: 100%;
	background-color: transparent;
	font-size: 1em;
	transition: border-color var(--default-transition);
}

.form__input::placeholder {
	color: var(--desaturated-red);
}

.form__error-icon {
	position: absolute;
	right: 5.25rem;
	top: 50%;
	transform: translateY(-50%);
	display: inline-block;
}

.form__button {
	right: 0;
	top: 0;
}

.button {
	position: absolute;
	display: inline-block;
	border: none;
	border-radius: 2rem;
	width: 4.5rem;
	height: 100%;
	background-image: linear-gradient(var(--secondary-gradient));
	box-shadow: 0 1rem 2rem -0.5rem var(--desaturated-red);
	cursor: pointer;
	z-index: 1;
	overflow: hidden;
}

.button:hover::after {
	opacity: 1;
}

.button::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: hsl(0, 80%, 86%);
	opacity: 0;
	transition: opacity var(--default-transition);
	z-index: -1;
}

.button__icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;
}

.footer {
	margin-top: 5rem;
}

.attribution {
	font-size: 0.733em;
	text-align: center;
}

.attribution__anchor {
	color: hsl(228, 45%, 44%);
}

.light-font {
	color: var(--desaturated-red);
	font-weight: 300;
}

@media (min-width: 860px) {
	html {
		font-size: 16px;
	}

	.hero__primary-content {
		max-width: 580px;
	}

	.hero__description {
		margin: 0 0 2.5rem;
	}

	.form {
		margin: 0;
	}

	.form__error-icon {
		right: 6.5rem;
	}

	.button {
		width: 5.5rem;
	}
}

@media (min-width: 1050px) {
	.hero {
		margin: 0 auto;
		max-width: 1440px;
		max-height: 800px;
	}

	.hero__primary-content {
		padding: 0 20%;
		max-width: 830px;
		text-align: left;
		background-image: url('./assets/images/bg-pattern-desktop.svg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	.hero__logo-container {
		max-width: 100%;
		margin-bottom: 25%;
	}

	.hero__logo {
		margin: 0;
		width: initial;
	}

	.image--mobile {
		display: none;
	}

	.image--desktop {
		display: block;
	}
}
